{% extends 'base.html' %}

{% block content %}

<h1>Create</h1>

<form method="POST">
  {% csrf_token %}
  <div class="row pt-8">
    <div class="col-2">
      <p>Title:  </p>
    </div>
    <div class="col-6">
      {{ form.title }}
    </div>
  </div>
  <div class="row pt-8">
    <div class="col-2">
      <p>Task Description:  </p>
    </div>
    <div class="col-6">
      {{ form.description }}
    </div>
  </div>
  <br>
  <br>
  <div class="row pt-8">
    <div class="col-6">
      <span></span>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </div>
</form>
{% endblock %}
