{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <table class="table table-sm">
      <thead>
        <th class="align-text-top" scope="col">Task Title</th>
        <th class="align-text-top"  scope="col">Publication Date</th>
        <th class="align-text-top"  scope="col">Description</th>
        <th class="align-text-top"  scope="col">Completed</th>
        <th class="align-text-top"  scope="col">User</th>
        <th class="align-text-top"  scope="col"></th>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr {% if task.completed %} class="table-active" {% endif %}>
            <th scope="row">{{ task.title }}</th>
            <td>{{ task.pub_date_pretty }}</td>
            <td>{{ task.summary }}</td>
            <td><input type=checkbox onclick="return false;" onkeydown="return false;" {% if task.completed %} checked="checked" {% endif %}/></td>
            <td>{{ task.user }}</td>
            <td>
              {% if user.is_authenticated %}
                {% if request.user.is_superuser or request.user == task.user %}
                  <div class="row pt-3">
                    <a class="btn btn-primary" href="{% url 'edit' task.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                    <form action="{% url 'markcompleted' task.id %}" method="POST">
                      {% csrf_token %}
                      <button {% if task.completed %} class="btn btn-success" {% else %} class="btn btn-danger" {% endif %}  type="submit" data-toggle="tooltip" data-placement="top" title="Toggle Completed"><i class="fas fa-check"></i></button>
                    </form>
                    <form action="{% url 'delete' task.id %}" method="POST">
                      {% csrf_token %}
                      <button class="btn btn-warning" type="submit" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-minus-circle"></i></button>
                    </form>
                  </div>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


<br>
<br>

    <div class="container">
      <div class="row pt-9">
          <div class="col-3">
            <a class="btn btn-primary" href="{% url 'hide' %}" data-toggle="tooltip" data-placement="top" title="Hide Completed Tasks"><i class="fas fa-eye-slash"></i></a>
          </div>
          {% if user.is_authenticated %}
          <div class="col-6">
            <span></span>
          </div>
          <div class="col-3">
            <a class="btn btn-primary float-right" href="{% url 'create' %}">Add</a>
          </div>
          {% endif %}

      </div>
    </div>

<br>
<br>


{% endblock %}
