{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <table class="table">
      <thead>
        <th scope="col">Task Title</th>
        <th scope="col">Publication Date</th>
        <th scope="col">Description</th>
        <th scope="col">Completed</th>
        <th scope="col">User</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <th scope="row">{{ task.title }}</th>
            <td>{{ task.pub_date_pretty }}</td>
            <td>{{ task.summary }}</td>
            <td>{{ task.completed }}</td>
            <td>{{ task.user }}</td>
            <td><a class="btn btn-primary" href="{% url 'edit' task.id %}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


<br>
<br>
<div class="row pt-8">
  <div class="col-3">
    <a class="btn btn-primary" href="{% url 'create' %}">Create</a>
  </div>
</div>
{% endblock %}
