{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="row">
  <div class="col-10">
    <h1>{{ task.title }}</h1>
  </div>
</div>
<br>
<br>
<div class="row pt-2">
  <div class="col-4">
    <h4><span class="oi oi-magnifying-glass"></span> User {{ task.user.username }}</h4>
  </div>
  <div class="col-4 text-right">
    <h4><span class="oi oi-clock"></span> {{ task.pub_date_pretty }}</h4>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-8">
    <p>{{ task.description }}</p>
  </div>
</div>

{% endblock %}
